<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<!-- Silva 2.1 (unreleased) -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xml:lang="en"
      xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
  <title>OpenID Registration</title>
  <link rel="stylesheet" href="frontend.css" type="text/css"
    tal:attributes="href here/frontend.css/absolute_url" />
  <link rel="shortcut icon"
    tal:attributes="href here/globals/favicon.ico/absolute_url | nothing" />
  <link rel="shortcut icon"
    tal:attributes="href here/globals/frontend.png/absolute_url | nothing" />
</head>
<body>
  <div class="public">

    <h3>OpenID Registration</h3>

    <p style="color: red; font-weight: bold" 
       tal:condition="request/openid_status | nothing"
       tal:content="request/openid_status">
      Status
    </p>

    <form method="post" action=""
      tal:attributes="action string:${here/absolute_url}/service_members/register_openid_user">
      <input type="hidden" name="came_from" value=""
        tal:attributes="value request/came_from | string:"/>
      <table class="access">
        <td><b>Captcha:</b></td>
          <td tal:define="captcha nocall:here/@@captcha">
              <tal:captcha tal:content="structure captcha/image_tag" />
              <div class="captchaAudio">
                 <a href="#" target="_blank"
                    tal:attributes="href captcha/audio_url">Audio version</a>
              </div>
          </td>
        </tr>
        <tr>
          <td colspan="2"><p>Please type in the captcha below:</p></td>
        </tr>
        <tr>
          <td><b>Captcha validation:</b></td>
          <td><input type="text" name="__ac_identity_register_captcha" size="20" /></td>
        </tr>
        <tr>
          <td colspan="2"><p>Enter the url of your OpenID, such as http://yourname.myopenid.com/:</p></td>
        </tr>
        <tr>
          <td><b>OpenID:</b>&nbsp;</td>
          <td><input type="text" name="__ac_identity_register" size="50" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value=" Register your OpenID " /></td>
        </tr>
      </table>
    </form>

  </div>
</body>
</html>
